.mainWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 20px 0px;

  & img {
    width: 100%;
    height: 530px;
  }

  .content {
    margin: 20px 0px 20px 0px;
    padding-left: 200px;
    padding-right: 200px;

    .category {
      width: 100%;
    }

    .selectors {
      display: flex;
      justify-content: space-between;

      .searchForm {
        & input {
          background: 0 0;
          border: 1px solid #b1b1b1;
          border-width: 0 0 1px;
          font-size: 14px;
          color: #777;
          width: 250px;
          padding: 20px 10px 4px 20px;
          outline: none;
        }

        &:before {
          font-family: FontAwesome;
          content: "\f002";
        }
      }

      .sortedForm {
        padding: 15px 0px 4px 20px;
        width: 250px;
      }
    }
  }
}